[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
typecheck-lib = "python -m mypy mathtools"
typecheck-main = "python -m mypy main.py"
typecheck-tests = "python -m mypy __tests__.py"
typecheck = "bash -c 'pipenv run typecheck-lib && pipenv run typecheck-main && pipenv run typecheck-tests'"
main = "bash pipenv run python main.py"
tests = "python -m unittest -v __tests__.py"
